/* line 3, ../scss/main.scss */
nav {
  background-color: lightgrey;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 100;
}
/* line 9, ../scss/main.scss */
nav .title {
  float: left;
}
/* line 12, ../scss/main.scss */
nav a {
  color: black;
}
/* line 15, ../scss/main.scss */
nav .nav-topic {
  margin-right: 15%;
}
/* line 19, ../scss/main.scss */
nav .nav-top {
  margin: 5px 0 10px 0;
  padding: 10px;
}
/* line 24, ../scss/main.scss */
nav .sport-venue-details {
  background-color: lightblue;
}
/* line 28, ../scss/main.scss */
nav aside {
  line-height: 40px;
  z-index: 10;
  color: black;
  width: 100%;
  text-align: center;
}
/* line 35, ../scss/main.scss */
nav aside li {
  list-style-type: none;
}
/* line 38, ../scss/main.scss */
nav aside a {
  color: black;
}
/* line 43, ../scss/main.scss */
nav #sportNames {
  height: 40px;
}
/* line 46, ../scss/main.scss */
nav #venueNames {
  height: 120px;
}
