@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 4, ../scss/main.scss */
body {
  background-image: url("../img/weave_bw.png");
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

/* line 10, ../scss/main.scss */
nav {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px 0 15px 0;
  text-align: center;
  position: fixed;
  z-index: 100;
}
/* line 17, ../scss/main.scss */
nav .title {
  float: left;
}
/* line 20, ../scss/main.scss */
nav .nav-top {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 23, ../scss/main.scss */
nav .nav-top a {
  padding-bottom: 5px;
}
/* line 27, ../scss/main.scss */
nav a {
  color: white;
}
/* line 29, ../scss/main.scss */
nav a:hover {
  color: lightblue;
  text-decoration: none;
  cursor: pointer;
}

/* line 37, ../scss/main.scss */
aside {
  line-height: 50px;
  z-index: 10;
  color: black;
  width: 100%;
  text-align: center;
}
/* line 43, ../scss/main.scss */
aside li {
  list-style-type: none;
}
/* line 47, ../scss/main.scss */
aside a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 54, ../scss/main.scss */
.post {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}

/* line 61, ../scss/main.scss */
#content .post {
  border-top: 5px solid;
}
/* line 63, ../scss/main.scss */
#content .post img {
  margin: 0px 0 0px 0;
  width: 100%;
}
/* line 68, ../scss/main.scss */
#content .gymnastics {
  border-color: tomato;
}
/* line 71, ../scss/main.scss */
#content .judo {
  border-color: purple;
}
/* line 74, ../scss/main.scss */
#content .soccer {
  border-color: green;
}
/* line 77, ../scss/main.scss */
#content .softball {
  border-color: lightblue;
}
/* line 80, ../scss/main.scss */
#content .tennis {
  border-color: darkseagreen;
}
/* line 83, ../scss/main.scss */
#content .volleyball {
  border-color: goldenrod;
}
/* line 86, ../scss/main.scss */
#content .opening {
  border-color: darkred;
}

/* FOR VENUE MAP: */
/* line 93, ../scss/main.scss */
#map-body #googlemaps {
  height: 100%;
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 0;
  /* Set z-index to 0 as it will be on a layer below the contact form */
}
/* line 102, ../scss/main.scss */
#map-body #landing-img {
  z-index: 5;
  position: relative;
}
/* line 108, ../scss/main.scss */
#map-body nav {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 0;
}
/* line 115, ../scss/main.scss */
#map-body nav .title {
  float: left;
}
/* line 118, ../scss/main.scss */
#map-body nav .nav-top {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 121, ../scss/main.scss */
#map-body nav .nav-top a {
  padding-bottom: 5px;
}
/* line 125, ../scss/main.scss */
#map-body nav a {
  color: white;
}
/* line 127, ../scss/main.scss */
#map-body nav a:hover {
  color: lightblue;
  text-decoration: none;
  cursor: pointer;
}
/* line 135, ../scss/main.scss */
#map-body aside {
  line-height: 50px;
  width: 100%;
  text-align: center;
}
/* line 139, ../scss/main.scss */
#map-body aside li {
  list-style-type: none;
}
/* line 143, ../scss/main.scss */
#map-body aside a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 151, ../scss/main.scss */
#map-body #dblogo {
  position: fixed;
  left: 0;
  border: 0;
  padding: 5px;
  height: 50px;
}
/* line 159, ../scss/main.scss */
#map-body #social-buttons {
  position: fixed;
  right: 10px;
  border: 0;
  padding: 10px;
  height: 40px;
  top: -12px;
}
/* line 168, ../scss/main.scss */
#map-body ul.share-buttons {
  list-style: none;
  padding: 0;
}
/* line 173, ../scss/main.scss */
#map-body ul.share-buttons li {
  display: inline;
}
/* line 177, ../scss/main.scss */
#map-body #content {
  margin-top: 90px;
  padding-left: 20px;
}
/* line 182, ../scss/main.scss */
#map-body #content-credit {
  padding-left: 20px;
}
/* line 186, ../scss/main.scss */
#map-body .card {
  position: relative;
  margin-bottom: 20px;
  min-height: 10px;
  min-width: 450px;
  width: 32%;
  padding: 15px;
  background: white;
  pointer-events: auto;
}
/* line 197, ../scss/main.scss */
#map-body #intro-card {
  border-top: 6pt solid #0188d2;
}
/* line 201, ../scss/main.scss */
#map-body .card-title {
  font-family: Roboto;
  font-size: 20pt;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 15px;
}
/* line 209, ../scss/main.scss */
#map-body .card-location {
  font-family: Roboto;
  font-size: 14pt;
  font-weight: bold;
  margin: 5px;
}
/* line 216, ../scss/main.scss */
#map-body .card-video {
  position: relative;
  margin-left: -15px;
  padding-right: 30px;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}
/* line 224, ../scss/main.scss */
#map-body .card-video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 232, ../scss/main.scss */
#map-body .card-description {
  font-family: Roboto;
  font-size: 12pt;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: justify;
}
/* line 241, ../scss/main.scss */
#map-body #intro {
  font-family: Roboto;
  text-align: center;
  font-weight: none;
  font-size: 15pt;
}
/* line 248, ../scss/main.scss */
#map-body #conclusion {
  font-family: Roboto;
  text-align: center;
  font-size: 10pt;
}

/*  Mobile style */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 257, ../scss/main.scss */
  #googlemaps {
    z-index: 2;
    height: 33%;
    border-bottom: 6pt solid #0188d2;
  }

  /* line 262, ../scss/main.scss */
  #content {
    margin: 0px;
    margin-top: 60%;
  }

  /* line 266, ../scss/main.scss */
  .card {
    width: 95%;
  }

  /* line 269, ../scss/main.scss */
  #intro {
    font-size: 2em;
  }

  /* line 272, ../scss/main.scss */
  .card-description {
    font-size: 12pt;
  }

  /* line 275, ../scss/main.scss */
  #nav {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 2;
    background: white;
  }

  /* line 286, ../scss/main.scss */
  #dblogo {
    position: fixed;
    left: 0;
    border: 0;
    padding: 10px;
    height: 80px;
  }

  /* line 294, ../scss/main.scss */
  #social-buttons {
    position: fixed;
    right: 10px;
    border: 0;
    padding: 10px;
    height: 80px;
    top: -12px;
  }
}
/* line 304, ../scss/main.scss */
a {
  text-decoration: none;
  color: #3381B5;
}

/* line 309, ../scss/main.scss */
p.caption_content {
  margin: 0;
  float: right;
  font-size: 12px;
}

/* line 315, ../scss/main.scss */
.byline {
  color: #6B6B6B;
}

/* line 318, ../scss/main.scss */
h2 {
  font-family: 'Raleway', sans-serif;
}
