/* line 3, ../scss/main.scss */
body {
  background-image: url("../img/weave_bw.png");
}

/* line 7, ../scss/main.scss */
nav {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 500px;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 100;
}
/* line 14, ../scss/main.scss */
nav .title {
  float: left;
}
/* line 17, ../scss/main.scss */
nav a {
  color: white;
}
/* line 19, ../scss/main.scss */
nav a:hover {
  color: lightblue;
}
/* line 23, ../scss/main.scss */
nav .nav-topic {
  margin-right: 10%;
}
/* line 27, ../scss/main.scss */
nav .nav-top {
  margin: 5px 0 10px 0;
  padding: 10px;
}

/* line 33, ../scss/main.scss */
aside {
  line-height: 50px;
  z-index: 10;
  color: black;
  width: 100%;
  text-align: center;
}
/* line 39, ../scss/main.scss */
aside li {
  list-style-type: none;
}

/* line 45, ../scss/main.scss */
.post {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}

/* line 52, ../scss/main.scss */
#content .post {
  border-top: 5px solid;
}
/* line 54, ../scss/main.scss */
#content .post img {
  margin: 15px 0 15px 0;
  width: 100%;
}
/* line 59, ../scss/main.scss */
#content .gymnastics {
  border-color: tomato;
}
/* line 62, ../scss/main.scss */
#content .judo {
  border-color: purple;
}
/* line 65, ../scss/main.scss */
#content .soccer {
  border-color: green;
}
/* line 68, ../scss/main.scss */
#content .softball {
  border-color: lightblue;
}
/* line 71, ../scss/main.scss */
#content .tennis {
  border-color: darkseagreen;
}
/* line 74, ../scss/main.scss */
#content .volleyball {
  border-color: goldenrod;
}
/* line 77, ../scss/main.scss */
#content .opening {
  border-color: darkred;
}

/* FOR VENUE MAP: */
/* line 86, ../scss/main.scss */
#map-body #googlemaps {
  height: 100%;
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 0;
  /* Set z-index to 0 as it will be on a layer below the contact form */
}
/* line 96, ../scss/main.scss */
#map-body nav {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 500px;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 100;
  top: 0;
}
/* line 104, ../scss/main.scss */
#map-body nav .title {
  float: left;
}
/* line 107, ../scss/main.scss */
#map-body nav a {
  color: white;
}
/* line 109, ../scss/main.scss */
#map-body nav a:hover {
  color: lightblue;
}
/* line 113, ../scss/main.scss */
#map-body nav .nav-topic {
  margin-right: 10%;
}
/* line 117, ../scss/main.scss */
#map-body nav .nav-top {
  margin: 5px 0 10px 0;
  padding: 10px;
}
/* line 123, ../scss/main.scss */
#map-body aside {
  line-height: 50px;
  width: 100%;
  text-align: center;
}
/* line 127, ../scss/main.scss */
#map-body aside li {
  list-style-type: none;
}
/* line 133, ../scss/main.scss */
#map-body #dblogo {
  position: fixed;
  left: 0;
  border: 0;
  padding: 5px;
  height: 50px;
}
/* line 141, ../scss/main.scss */
#map-body #social-buttons {
  position: fixed;
  right: 10px;
  border: 0;
  padding: 10px;
  height: 40px;
  top: -12px;
}
/* line 150, ../scss/main.scss */
#map-body ul.share-buttons {
  list-style: none;
  padding: 0;
}
/* line 155, ../scss/main.scss */
#map-body ul.share-buttons li {
  display: inline;
}
/* line 159, ../scss/main.scss */
#map-body #content {
  margin-top: 90px;
  padding-left: 20px;
}
/* line 164, ../scss/main.scss */
#map-body #content-credit {
  padding-left: 20px;
}
/* line 168, ../scss/main.scss */
#map-body .card {
  position: relative;
  margin-bottom: 20px;
  min-height: 10px;
  min-width: 450px;
  width: 32%;
  padding: 15px;
  background: white;
  pointer-events: auto;
}
/* line 179, ../scss/main.scss */
#map-body #intro-card {
  border-top: 6pt solid #0188d2;
}
/* line 183, ../scss/main.scss */
#map-body .card-title {
  font-family: Roboto;
  font-size: 20pt;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 15px;
}
/* line 191, ../scss/main.scss */
#map-body .card-video {
  position: relative;
  margin-left: -15px;
  padding-right: 30px;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}
/* line 199, ../scss/main.scss */
#map-body .card-video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 207, ../scss/main.scss */
#map-body .card-description {
  font-family: Roboto;
  font-size: 12pt;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: justify;
}
/* line 216, ../scss/main.scss */
#map-body #intro {
  font-family: Roboto;
  text-align: center;
  font-weight: none;
  font-size: 15pt;
}
/* line 223, ../scss/main.scss */
#map-body #conclusion {
  font-family: Roboto;
  text-align: center;
  font-size: 10pt;
}

/*  Mobile style */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 232, ../scss/main.scss */
  #googlemaps {
    z-index: 2;
    height: 33%;
    border-bottom: 6pt solid #0188d2;
  }

  /* line 237, ../scss/main.scss */
  #content {
    margin: 0px;
    margin-top: 60%;
  }

  /* line 241, ../scss/main.scss */
  .card {
    width: 95%;
  }

  /* line 244, ../scss/main.scss */
  #intro {
    font-size: 2em;
  }

  /* line 247, ../scss/main.scss */
  .card-description {
    font-size: 12pt;
  }

  /* line 250, ../scss/main.scss */
  #nav {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 2;
    background: white;
  }

  /* line 261, ../scss/main.scss */
  #dblogo {
    position: fixed;
    left: 0;
    border: 0;
    padding: 10px;
    height: 80px;
  }

  /* line 269, ../scss/main.scss */
  #social-buttons {
    position: fixed;
    right: 10px;
    border: 0;
    padding: 10px;
    height: 80px;
    top: -12px;
  }
}
/* line 279, ../scss/main.scss */
a {
  text-decoration: none;
  color: #3381B5;
}
