$nav-link-height: 50px;

body {
  background-image: url('../img/weave_bw.png');
}

nav {
  background-color: rgba(0,0,0,0.7);
  min-width: 500px;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 100;
  .title {
    float: left;
  }
  a {
    color: white;
    &:hover {
      color: lightblue;
    }
  }
  .nav-topic {
    margin-right: 10%;
  }

  .nav-top {
    margin: 5px 0 10px 0;
    padding: 10px;
  }
}

aside {
  line-height: $nav-link-height;
  z-index: 10;
  color: black;
  width: 100%;
  text-align: center;
  li {
    list-style-type: none;
  }
}

// CSS FOR CONTENT PULLED FROM SPREADSHEET
.post {
  background-color: rgba(255,255,255,0.8);
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}

#content {
  .post {
    border-top: 5px solid;
    img {
      margin: 15px 0 15px 0;
      width: 100%;
    }
  }
  .gymnastics {
    border-color: tomato;
  }
  .judo {
    border-color: purple;
  }
  .soccer {
    border-color: green;
  }
  .softball {
    border-color: lightblue;
  }
  .tennis {
    border-color: darkseagreen;
  }
  .volleyball {
    border-color: goldenrod;
  }
  .opening {
    border-color: darkred;
  }
}



/* FOR VENUE MAP: */
#map-body {
    #googlemaps {
      height: 100%;
      width: 100%;
      position: fixed !important;
      top: 0;
      left: 0;
      z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
    }

    // nav css
    nav {
      background-color: rgba(0,0,0,0.7);
      min-width: 500px;
      width: 100%;
      text-align: right;
      position: fixed;
      z-index: 100;
      top: 0;
      .title {
        float: left;
      }
      a {
        color: white;
        &:hover {
          color: lightblue;
        }
      }
      .nav-topic {
        margin-right: 10%;
      }

      .nav-top {
        margin: 5px 0 10px 0;
        padding: 10px;
      }
    }

    aside {
      line-height: $nav-link-height;
      width: 100%;
      text-align: center;
      li {
        list-style-type: none;
      }
    }
    // end nav

    #dblogo {
      position: fixed;
      left: 0;
      border: 0;
        padding:5px;
      height: 50px;
    }

    #social-buttons {
      position: fixed;
      right: 10px;
      border: 0;
      padding: 10px;
      height: 40px;
      top: -12px;
    }

    ul.share-buttons{
      list-style: none;
      padding: 0;
    }

    ul.share-buttons li{
      display: inline;
    }

    #content {
      margin-top: 90px;
      padding-left: 20px;
    }

    #content-credit {
      padding-left: 20px;
    }

    .card {
      position: relative;
      margin-bottom: 20px;
      min-height: 10px;
      min-width: 450px;
      width: 32%;
      padding: 15px;
      background: white;
      pointer-events: auto;
    }

    #intro-card {
      border-top: 6pt solid rgb(1, 136, 210);
    }

.card-title {
  font-family: Roboto;
  font-size: 20pt;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 15px;
}

.card-location {  
  font-family: Roboto;
  font-size: 14pt;
  font-weight: bold;
  margin: 5px;
}

    .card-video {
        position: relative;
        margin-left: -15px;
        padding-right: 30px;
        width: 100%;
        height: 0;
        padding-bottom: 60%;
    }
    .card-video-embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card-description {
      font-family: Roboto;
      font-size: 12pt;
      margin: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
      text-align: justify;
    }

    #intro {
        font-family: Roboto;
        text-align: center;
        font-weight:none;
        font-size: 15pt;
    }

    #conclusion {
        font-family: Roboto;
        text-align: center;
        font-size: 10pt;
    }
}

/*  Mobile style */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #googlemaps {
        z-index: 2;
        height: 33%;
        border-bottom: 6pt solid rgb(1, 136, 210)
    }
    #content {
        margin: 0px;
        margin-top: 60%;
    }
    .card {
        width: 95%;
    }
    #intro {
        font-size: 2em;
    }
    .card-description {
        font-size: 12pt;
    }
    #nav {
    text-align:center;
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 2;
        background: white;
    }

    #dblogo {
        position: fixed;
        left: 0;
        border: 0;
        padding: 10px;
        height: 80px;
    }

    #social-buttons {
        position: fixed;
        right: 10px;
        border: 0;
        padding: 10px;
        height: 80px;
        top: -12px;
    }
}

a {
  text-decoration: none;
  color: #3381B5;
};


