$nav-link-height: 40px;

nav {
  background-color: lightgrey;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 100;
  .title {
    float: left;
  }
  a {
    color: black;
  }
  .nav-topic {
    margin-right: 15%;
  }

  .nav-top {
    margin: 5px 0 10px 0;
    padding: 10px;
  }

  .sport-venue-details {
    background-color: lightblue;
  }

  aside {
    //padding: 15px 0 15px 0;
    line-height: $nav-link-height;
    z-index: 10;
    color: black;
    width: 100%;
    text-align: center;
    li {
      list-style-type: none;
    }
    a {
      color: black;
    }
  }

  #sportNames {
     height: $nav-link-height;
  }
  #venueNames {
     height: $nav-link-height * 3;
  }

}


